{% load static %}
<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/captcha5.css" rel="stylesheet" />
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <title>CAPTCHA</title>
</head>

<body>
    <div class="container_logo">
        <img src="/static/images/logo/{{logo}}.jpg" class="img_logo" />
    </div>
    <div class="container_main">
        <form action="{% url 'submit' %}" method='post'> {% csrf_token %} <br>
            <div class="hidden_div">
                <table class="hidden_table">
                    <tr>
                        <td>
                            <img src="/static/images/logo/info_icon.png" class="info_icon" />
                        </td>
                        <td class="info_td_1">Enter the characters you see below</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="info_td_2">Sorry, we just need to make sure you're not a robot. For best results, please make sure your browser is accepting cookies.</td>
                    </tr>
                </table>
                <br>
                <table class="hidden_table2">
                    <tr>
                        <td>
                            <table class="captcha_table">
                                <tr>
                                    <td class="captcha_info_td">Type the characters you see in this image:</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="{{capt}}" class="capt_img" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="submit_td">
                                        <input type="text" class="input" name="captcha" size=2 maxlength=30 placeholder=" Type the text" onfocus="this.placeholder=''" onblur="this.placeholder='Type the text'">
                                    </td>
                                </tr>
                                <tr></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="submit_td">
                            <button type="submit" class="submit_btn">Submit</button>
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </form>
    </div>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.font = "30px Comic Sans MS";
        ctx.fillStyle = "green";
        ctx.textBaseline = "middle";
        ctx.textAlign = "center";
        ctx.fillText("{{capt}}", canvas.width / 2, canvas.height / 2);
    </script>
    <!-- Optional JavaScript; choose one of the two! -->
    Option 1: Bootstrap Bundle with Popper
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
         -->
</body>

</html>