/* Webfont: MADECannes */@font-face {
    font-family: 'MADECannes';
    src: url('MADECannes.eot'); /* IE9 Compat Modes */
    src: url('MADECannes.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MADECannes.woff') format('woff'), /* Modern Browsers */
         url('MADECannes.ttf') format('truetype'), /* Safari, Android, iOS */
         url('MADECannes.svg#MADECannes') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

